{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}


{% block content %}
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
        <div class="container-fluid">
            <div class="owl-banner owl-carousel">
                {% for i in articles|slice:':4' %}
                    <div class="item">
                        <a href="{{ i.get_absolute_url }}">
                            <img src="{{ i.image.url }}" alt="">
                        </a>
                        <div class="item-content">
                            <div class="main-content">
                                <div class="meta-category">
                                    <span>{{ i.category }}</span>
                                </div>
                                <a href="{{ i.get_absolute_url }}"><h4>{{ i.title }}</h4></a>
                                <ul class="post-info">
                                    <li><a href="#">{{ i.author }}</a></li>
                                    <li><a href="#">{{ i.created|date }}</a></li>
                                    <li><a href="#">12 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->

    <!-- Ad Banner start Here -->
    {% include 'includes/Adbaner.html' %}
    <!-- Ad Banner Ends Here -->

    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            {% for i in articles|slice:':2' %}
                                <div class="col-lg-12">
                                    <div class="blog-post">
                                        <a href="{{ i.get_absolute_url }}">
                                            <div class="blog-thumb">
                                                <img src="{{ i.image.url }}" alt="">
                                            </div>
                                        </a>
                                        <div class="down-content">
                                            <span>{{ i.category }}</span>
                                            <a href="{{ i.get_absolute_url }}"><h4>{{ i.title }}</h4></a>
                                            <ul class="post-info">
                                                <li><a href="#">{{ i.author }}</a></li>
                                                <li><a href="#">{{ i.created|date }}</a></li>
                                                <li><a href="#">12 Comments</a></li>
                                            </ul>
                                            <p>{{ i.description|truncatewords:50|safe}}</p>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <ul class="post-tags">
                                                            <li><i class="fa fa-tags"></i></li>
                                                            {% for tags in i.tag.all %}
                                                                <li>
                                                                    <a href="{{ tags.get_absolute_url }}">{{ tags.title }}</a>,
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="col-6">
                                                        <ul class="post-share">
                                                            <li><i class="fa fa-share-alt"></i></li>
                                                            <li><a href="#">Facebook</a>,</li>
                                                            <li><a href="#"> Twitter</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a href="{% url 'article:article' %}">View All Posts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'includes/sidebar.html' %}
            </div>
        </div>
    </section>
{% endblock %}