{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-content">
                            <h4>Welcome back!</h4>
                            <h2>Login</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Banner Ends Here -->
    <br>
    <!-- Login Form -->
    <section class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="contact-form">
                        <form id="login_form" action="/login/" method="POST" novalidate>
                            <div class="row">
                                <div class="col-lg-12">
                                    <fieldset>
                                        <label for="email">Email Address</label>
                                        <input type="email" id="email" name="email" placeholder="Email Address"
                                               required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <label for="password">Password</label>
                                        <input type="password" id="password" name="password" placeholder="Password"
                                               required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" class="main-button">Login</button>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <p>Don't have an account? <a href={% url 'account:register' %}>Register here</a>.
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}