{% extends 'base.html' %}


{% block content %}
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-content">
                            <h4>Don't worry</h4>
                            <h2>reset password</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Banner Ends Here -->
    <br>
    {% include 'includes/messages.html' %}
    <br>
    <div class="text-content">
        <h1>we sent you an email</h1>
    </div>

{% endblock %}